*{
   
    font-family: 'Martel Sans', sans-serif;
  }

a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}
a:hover{
  color:#448bc5;
  text-decoration: underline;
}

.body{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;;
  }

.all-containers{
  width: 100%;
  height: 100%;
  margin: 20px 0px;
  border: 1px solid black;
  border-right: 10px solid;
  border-top: 6px solid black;
}

html{
  font-size: 18px;
}
header {
  display: flex;
  justify-content: space-between;
}

.nav{
  display: flex;
  padding: 0 10%;
  justify-content: center;
}


.nav li{
  display: flex;
  padding: 10%;
  margin: auto;

}

.nav li a{
  justify-content: center;;
}

.nav-items{
  font-weight: 900;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
}

.nav .nav-items a{
  font-family: 'Bebas Neue', cursive;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

#top-left-title{
  padding: 0 5%;
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  font-family: 'Bebas Neue', cursive;
}

.image-container{
  display: flex;
  width: auto;
  height: 300px;
  justify-content: center;

}

.image-container img{
  display: flex;
  width: 75%;
  object-fit: cover;
  object-position: 100% 0;
  object-position: -40% 40%;
  margin-top: 10px;
}

.about-paragraphs{
  display: flex;
  width: 90%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.about-paragraphs p{
  width: 50%;
  height: auto;
  margin: 20px;
  margin-bottom: 2%;
}

h2{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
}

.certifications{
  display: flex;
  width: 90%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-bottom: 2%;
}

.certifications ul{
  width: 50%;
  height: auto;
  margin: 10px 20px auto;
}

.certifications ul li{
  padding: 2px;
}

.buttons button{
  width: 180px;
  height: auto;
  margin: 10px auto;
  padding: 5px;
  font-family: 'Martel Sans', sans-serif;
}

#availability-p{
  text-align: center;
}

.buttons{
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}


.button {
  padding: 15px 25px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #448bc5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover{
  background-color: #555;
}

.button:active {
  background-color: #0059ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .all-containers{
        width: 130%;
        height: 100%;
        border: 1px solid black;
        border-right: 10px solid;
        border-top: 6px solid black;
      }

      .body{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      .buttons {
        display: flex;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
      body{
        width: 125%;
      }
      .image-container {
        display: flex;
        width: 125%;
        height: 300px;
        justify-content: center;
    }

    #top-left-title {
      padding: 0 5%;
      display: flex;
      font-size: 2rem;
      font-family: 'Bebas Neue', cursive;
      flex-wrap: nowrap;
      justify-content: stretch;
      text-align: initial;
  }

  .nav li {
    display: flex;
    padding: 2%;
    margin: auto;
    }
  }